<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
    <!--<script th:src="@{static/test.js}"></script>-->
</head>
<body>
<div>
    <br>用户姓名；<input th:id="${user.name}" th:name="${user.name}" th:value="${user.name}"/></br>
    <br>用户年龄:<input th:value="${user.age}"/></br>
    <br>用户生日:<input th:value="${user.birthday}"/></br>
    <!--<br>shengri:<input th:value="${#dates.format(user.birthday,'dd/MM/yyyy)}"/></br>-->

    <form th:action="@{th/postform}" th:object="${user}" method="post" th:method="post">

        <input type="text" th:field="*{name}"/>
        <input type="submit"/>
    </form>
</div>
</body>
</html>